:root{
    /* font */
    --main-font-family:'Montserrat', sans-serif;
    /* text color */
    --main-txt-cl:#000;
    --sec-txt-cl:#595959;
    --orange-txt-cl:#FB6D3A;
    --grey-txt-cl:#A8A8A8;
    /* background color */
    --main-bg-cl:#fff;
    --sec-bg-cl:#F5F7FA;
    --sidebar-bg-cl:#1E2939;
    --gold-bg-cl:#e7d5b2;
    /* grid */
}

body{
    font-family: var(--main-font-family);
    background-color: var(--sec-bg-cl);
    margin:0px;
	padding:0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--sec-bg-cl);
    width: 1200px; 
    background-color: var(--main-bg-cl);
    margin: 15px auto;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
    color: currentColor;
}

/* main-content styles */

.main-content{
    display: inline-block;
    background-color:var(--main-bg-cl) ;
    padding: 100px 90px;
    
}
/* about styless */

.about{
    background-color: var(--main-bg-cl);
    margin-right: auto;
    margin-left: auto;
}

.about-my-profession{
    font-weight: bold;
    font-size:21px;
    line-height: 1.3;
    color: var(--main-txt-cl);
    margin: 0 0 20px 0;
}

.my-name{
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;   
    color: var(--main-txt-cl);
    margin: 0 0 25px 0;
}

.about-me{
    width: 400px;
    line-height: 1.7;
    color: var(--main-txt-cl);
}

/* project styles */

.projects {
    background-color: var(--main-bg-cl);   
    margin-top: 35px ;
    margin-bottom: 30px;
    /* margin: 100px 90px 300px 60px;
    margin: 50px;
    margin: 100px 50 px; */
}

.project-title{
    margin-bottom: 20px;
    display: flex;
}

.title{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    color: var(--main-txt-cl);
    margin-bottom: 10px;
}

.project-list{
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 90px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
}

.project-item {
    flex-basis: calc((100% - 20px)/6);
}

.project-item:not(:nth-child(5n)) {
    margin-right: 10px;
}

.project-link {
    text-decoration: none;
}

.project-image:hover,
.project-image:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image{
    border-top: 1px solid var(--gold-bg-cl);
    border-left: 1px solid var(--gold-bg-cl);
    border-right: 1px solid var(--gold-bg-cl);
    border-bottom: 1px solid var(--gold-bg-cl);
}

/* work styles */

.work{
    background-color: var(--main-bg-cl); 
    margin-top: 35px ;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 90px;
}

    /* padding: 100px 40px 50px 20px;

    padding: 50px;

    padding:  100px 50px;
    
    /* education styless */

.company{
    color: var(--orange-txt-cl);
}

.position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.work-experience-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color: var(--grey-txt-cl);
    margin-left:3px;
    }

.work-experience-divider{
    color: var(--main-txt-cl);
    font-weight: 500;
}

.work-experience-duties{
    padding: 0 0 0 18px;
} 


.work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--sec-txt-cl);
}

.my-work-experience-company{
    margin: 0 0 0 0;
}

.education-block{
    background-color: var(--main-bg-cl);
    margin-top: 35px ;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 90px;
    }

    /* sidebar style */

.sidebar-section{
    background-color: var(--sidebar-bg-cl);
    width: 400px;
    padding:40px 0;
}

.contact-section{
    margin: 20px 0 0 40px;
}
.tech-skills-section{
    margin-left: 40px;
}
.soft-skills-section{
    margin-left: 40px;
    }

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    color: var(--main-bg-cl);
    margin-bottom: 10px;
}

/* contacts section */

.contact-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--gold-bg-cl);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}

.contact-link-mail{
    padding-bottom: 7px;
}

.contact-icon{
    fill: currentColor;
    margin-right: 7px;
}

.contact-link:hover,
.contact-link:focus{
    color: #FB6D3A;
}

.social-list {
    display: flex;
    list-style: none;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-item:not(:last-child) {
    margin-right: 30px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.social-icon {
    fill: var(--gold-bg-cl);
}

.social-link:hover,
.social-link:focus{
    background-color: var(--main-bg-cl);
    outline: none
}

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: var(--orange-txt-cl);
}



/* Tech & Soft skills list */

.skills-list{
    padding: 0 0 0 17px;
}

.skills-list-item{
    color: var(--orange-txt-cl);
}

.skills-list-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-bg-cl);   
}

.profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: var(--main-txt-cl);
}

.education-experience-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color: var(--grey-txt-cl); 
}
